package nl.mdworld.planck.networking

object SubsonicTemp {
    const val JUKEBOX_BASE_URL= "https://some.url/rest/"
    const val JUKEBOX_USERNAME= "some_username"
    const val JUKEBOX_SALT="some_salt"
    const val JUKEBOX_API_TOKEN="some_api_token"
}
