*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/emulatorDisplays.xml
/.idea/copilotDiffState.xml
/.idea/copilot.data.migration*
/play-store/old
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/debug
/app/release
encryption_public_key.pem
key_output.zip
keystore
pepk.jar
private_key.pepk
notes.md